@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
   box-sizing: border-box; 
}

body{
    background-color: rgb(208, 140, 55);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2{ 
    margin: 5px 0 20px;
    text-align: center;
}

.container{
    background-color: rgb(1, 1, 1);
    box-shadow: 10px 10px 10px white;
    padding: 30px;
    width: 400px;
    max-width: 100%;
/* height: 400px; */
}

.result-container{
    background-color: white;
    /* border-width: 10px 10px;
    border-color: blue; */
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result{
    word-wrap: break-word;
    max-width: calc(100% - 40px);

}

.result-container .btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
}
.btn{
    border: none;
    background-color: #3b3b98;
    color: #fff;
    font-size: 20px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-large{
    display:block;
    width: 100%;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

